@import 'partials/utilities/mixins';

// We all know that, no matter how hard we may try, sometimes we do need to
// use quick fixes, hacks and questionable techniques in our code.
// It happens, whether we like to admit it or not. Whilst this isn’t ideal,
// we have to do it from time to time; all of us.
//
// The real problem, though, is that we rarely go back and tidy these
// things up. They slip through the cracks, get ignored, go unnoticed,
// and stay for good. This we do not have to do.
//
// What is needed is a way of allowing these hacks when necessary,
// but making sure that they don’t go unnoticed and unresolved.
// Enter shame.css.
//
// Read More:
// http://csswizardry.com/2013/04/shame-css/
// --------


// Hide "node info"
#wrapper {
	>.alert-info {
		display: none;
	}
}


// Hide "Add new" button on Asset Publisher
// --------
.add-asset-selector {
	//display: none;
}

// Hides the portlet titles
// --------
.aui {
	/*.portlet-title {
		display: none;
	}

	header.portlet-topper,
	.portlet-topper {
		display: none;
	}

	.signed-in.page-edit.controls-visible .portlet-topper {
		display: block !important;

		.portlet-title {
			display: block !important;
		}
	}*/

	// If administrator is setting custom css-class '.show-title' on portlet. Make sure it's visible
	.show-title {
		.portlet-title {
			display: block !important;
		}

		.portlet-topper {
			display: block !important;
		}
	}

	.portlet-site-map,
	.portlet-sites-directory {
		.portlet-title {
			display: block !important;
		}

		.portlet-topper {
			display: block !important;
		}
	}
}

// For some reason, this image does not exist in the _styled theme
// --------
.portlet-borderless-bar .portlet-options a {
	background: url('../images/portlet/options_borderless.png') no-repeat 0 3px;
}

// Moving dockbar to the left so that it doesn't hide the secondary menu of the theme.
// --------
.aui .dockbar-split .dockbar .navbar-inner .nav-account-controls {
	//left: 5em;
	//max-width: 500px;
}

.aui .dockbar-split .dockbar .navbar-inner .nav > li > a {
	line-height: 26px;
}

.aui .dockbar-split .dockbar .navbar-inner .nav li > .dropdown-toggle {
	background-color: $top-bar-bg;
}

.aui .dockbar-split .dockbar.navbar-static-top .collapse .nav-account-controls {
	//position: absolute;
	//top: 0;
	//width: 500px;
}

// Not to sure what this form is, but it's empty and takes space just above my footer
// --------
form#hrefFm {
	margin: 0;
}



// For some strange reason, Liferay gives a "Warning your session will time out" even for non-logged in users. So... we hide it.
// --------
body>.alert {
	display: none !important;
}

// Navigation List styled as nav portlet.
// --------

.aui {
	.journal-content-article {
		.portlet-navigation {
			.nav-menu {
				margin: 0;
			}
		}
	}
}

// To get "Visa fler nyheter" closer to the blogs aggregator
.journal-content-article .blogs-show-more {
  margin: -50px 0 20px 0;
  padding: 0 10px;
}

// Some vertical space between portlets
.portlet-boundary {
  margin-bottom: 20px;
}

.aui p {
  margin: 0 0 1em 0;
}

.aui h2 {
  font-size: 1.6em;
  line-height: 1.0em;
  margin: 1em 0 .4em 0;
}

.aui h3 {
	color: #666;
    font-size: 1.15em;
	font-weight: 600;
    line-height: 1.0em;
	margin-top: 20px;
}
