// Icon paths

$FontAwesomePath: "aui/lexicon/fonts/alloy-font-awesome/font";
$font-awesome-path: "aui/lexicon/fonts/alloy-font-awesome/font";
$icon-font-path: "aui/lexicon/fonts/";

$portlet-decorate-bg: #fff;
$portlet-decorate-border-width: 0;
$wrapper-padding-bottom: 0;
$wrapper-padding-top: 0;

$brand-primary: #3069a1;
$brand-success: #0c6;
$brand-info: #00CDFF;
$brand-warning: #FF9B00;
$brand-danger: #FF00CD;
$body-bg: #F2F2F2;
$text-color: #222;
$headings-font-weight: normal;
$headings-font-family: Lato, Helvetica;
$btn-default-color: #000;
$btn-default-border: $brand-primary;
$loading-icon-color: #3069a1;
$loading-icon-linear-color: #3069a1;
$btn-font-size: 16px;
$btn-border-radius: 2em;
$btn-default-hover-color: #fff;
$btn-default-hover-bg: $brand-primary;
$btn-default-active-color: #fff;
$btn-default-active-bg: $brand-primary;
$btn-primary-hover-bg: #c0f;
$btn-success-hover-bg: #99ff64;
$btn-info-hover-bg: #0ff;
$btn-warning-hover-bg: #FFCD65;
$btn-danger-hover-bg: #ff64cd;
