@import 'compass/typography/vertical_rhythm';

@each $value in $font-list {
  #{nth($value, 1)} {
	  	@include adjust-font-size-to(nth($value, 2));
	    font-weight: nth($value, 3);
	    letter-spacing: nth($value, 4);
	    color: nth($value, 5);
    }
}

h1 {
	margin-top: 0;
}

@mixin headings-negative {
	h1,
	h2, 
	h3,
	h4,
	h5,
	h6 {
		color: $heading-color-negative;
	}
}

@mixin headings-grande {
	h1 {
		@include adjust-font-size-to(32px);
		font-weight: $hero-font-weight;

	}
}