blockquote {
	margin: 0;
	padding: 0;
	border: none;
	@include trailer(1);

	.author,
	.author-title {
		color: $quote-author-color;
	}

	.author-title {
		@include paragraph-lesser();
	}	
}

blockquote p {
	@include paragraph-large();
}